body{
    margin: 0;
    padding: 0;
    
    
}

.container{
    
    padding-top: 10%;
}

.carousel{
    border: 2px solid violet;
}

#bg{
    background-color: aquamarine;
    width: 100%;
    height: 100vh;
}

.card-body {
   
    text-align: center;
}
.card-title{
font-size: 2.3rem;
}

audio{
    width: 80%;
    border:none;
}

