body{
    margin: 0;
    padding: 0;
    
    
}

.container{
    
    padding-top: 8%;
}

.carousel{
   
}

#bg{
    background-image: url('images/bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.card-body {
   
    text-align: center;
}
.card-title{
font-size: 1.3rem;
}

audio{
    width: 90%;
    border:none;
    height: 50px;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.bg-light {
    opacity: 0.9;

}

.navbar-nav {
    
    font-weight: 700;
}


